<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ether</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<section class="hero">
<pre>

               $$\     $$\                           
               $$ |    $$ |                          
     $$$$$$\ $$$$$$\   $$$$$$$\   $$$$$$\   $$$$$$\  
    $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\ $$  __$$\ 
    $$$$$$$$ | $$ |    $$ |  $$ |$$$$$$$$ |$$ |  \__|
    $$   ____| $$ |$$\ $$ |  $$ |$$   ____|$$ |      
    \$$$$$$$\  \$$$$  |$$ |  $$ |\$$$$$$$\ $$ |      
     \_______|  \____/ \__|  \__| \_______|\__|      
                                                 
</pre>

<div class="subtitle">fast • minimal • secure</div>
<div class="scroll">[ scroll ]</div>
</section>

<section class="content">
    <h2>about</h2>
    <p>
        (insert about me here)
    </p>

    <h2>projects</h2>
    <p>
        (project descriptions)<br>
        (project descriptions)<br>
        (project descriptions)..
    </p>
</section>

<footer>
    © 2026 ether hub.
</footer>

</body>
</html>